<h1>Contact Inquiries</h1>

<table class="contacts">
  <tr class="heading">
    <th>Email</th>
    <th>Subject</th>
    <th>Description</th>
    <th>First Name</th>
    <th>Last Name</th>
  </tr>

<%= render partial: 'contact', collection: @contacts %>

</table>
